<!DOCTYPE html>
<html>

<head>
<title> {{title}} </title>
</head>

<body>

<!--{{ question }}-->
<h1>This is a heading</h1>
<h1>{{ question.question_text }}</h1>
<p>This is a paragraph</p>
<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>{{ question.question_text }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
</fieldset>
<input type="submit" value="Vote">
</form>
<ul>
{% for choice in question.choice_set.all %}
    <li>{{ choice.choice_text }}</li>
{% endfor %}
</ul>

<a href="https://www.w3schools.com">Visit W3Schools</a>

</body>
</html>
